<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Postal Angular Demo</title>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/jqcloud.css">
        <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/jqcloud-1.0.3.js" type="text/javascript"></script>
        <script src="js/underscore.js" type="text/javascript"></script>
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/myApp.js" type="text/javascript"></script>
    </head>
    <body ng-app="postalCodeApp">
        <div class="container">
            <p/>
            <div class="hero-unit">
                <h2>Postal Codes - Angular Demo</h2>
            </div>
            <div class="alert alert-info">
                Please wait while data is being retrieved...
            </div>

            <div class="row">
                <div class="span12">
                    <p>
                        <div id="ClearPostalCodeCtrl" ng-controller="ClearPostalCodeCtrl">
                            <button id="clearPostalCodesButton" class="btn btn-large" ng-click="causeClearPostalCodes()">Clear Postal Codes</button>
                        </div>
                    </p>
                    <div id="PostalCodeCtrl" ng-controller="PostalCodeCtrl" >
                        <p><button class="btn btn-primary btn-large" ng-click="getPostalCodes()">Get Postal Code JSON Data</button></p>
                        <div class="row">
                            <div class="span6">
                                <h3>Alphabetical States</h3>
                                Sorted by abbreviation since in the JSON file they are alphabetical by state name. Wanted to prove that I sorted them.
                                <p/>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Abbrev.</th>
                                            <th>State</th>
                                            <th>Codes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="state in allStates">
                                            <td>{{state.Abbreviation}}</td>
                                            <td>{{state.State}}</td>
                                            <td>{{state.totalPostalCodes}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="span6">
                                <h3>Tag cloud of states</h3>
                                weighted by number of zip codes
                                <p/>
                                <div id="wordcloud" style="width: 350px; height: 350px; position: relative;"></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- span12 -->
            </div> <!-- row -->
        </div> <!-- container -->
        <div id="footer">
            <div class="containter">
                <p class="muted credit">Sample AngularJS App by
                    <a href="http://intensiveporpoises.com">Rohn</a>.
                </p>
            </div>
        </div>
    </body>
</html>
